#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

#*

#'hello'

#-87.8

#-

#/

#+

#6

values: 'hello' , -87.8 , 6

expressions: * , - , / , +

#2. What is the difference between string and variable?

Variable is an entity which holds data and String is sequence of characters which can be stored in a variable.

#3. Describe three different data types.

int data type: used to hold whole numbers

float data type: used to hold decimal numbers

list data type: used to hold ordered sequence of elements.

#4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators.These are used to produce some other value

##5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expressions produce a value while statements doesn't produce value

#6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

In [4]:
bacon = 22
bacon + 1

23

In [5]:
bacon

22

The variable bacon contains same value 22 even after running the code

#7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

both gives same output 'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

In [11]:
eggs=10

In [13]:
100='apple'

SyntaxError: ignored

while naming a variable certain rules must be followed.
variable name should not start with a number that is the reason why we get error for 100 while eggs is a valid variable name since it is not a keyword,it doesn't contain any special characters,and it doesn't start with a number

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [14]:
a=100.57

In [15]:
int(a) #to get integer of a value

100

In [16]:
float(a) #to get floating-point number of a value

100.57

In [18]:
str(a) #to get string version of a value

'100.57'

#10. Why does this expression cause an error? How can you fix it?
#'I have eaten' + 99 + 'burritos.'

In [19]:
'I have eaten' + 99 + 'burritos.'

TypeError: ignored

we are getting error because we are trying to concatenate string with integer.To avoid this error we have to convert 99 to string

In [21]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'